* {
	color: #e5e2ef;
	font-family: Arial, sans-serif;
}

body {
	background-color: #131d33;
	font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
	background-color: #31354e;
}

#hero-image {
	filter: drop-shadow(0 0 10px #6366f1);
}
#hero-image:hover {
	filter: drop-shadow(0 0 50px #6366f1);
}

.projects {
	background-color: #31354e;
	width: 65%;
	height: 15%;
	box-shadow: 0 0 5px #30303b;
	border-radius: 10px;
	padding: 1%;
}

li:hover {
	color: white;
	filter: drop-shadow(0 0 10px #6366f1);
}
